<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>MuscleMetrics.ai</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages" class="hide-msg">
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div id="success-msg" class="msg hide-msg"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" 
                                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                                  stroke-linejoin="round" class="lucide lucide-bot-icon lucide-bot"><path d="M12 8V4H8"/>
                                  <rect width="16" height="12" x="4" y="8" rx="2"/><path d="M2 14h2"/><path d="M20 14h2"/>
                                  <path d="M15 13v2"/><path d="M9 13v2"/></svg>  <div class="msg-content">{{ message }}</div></div>
                    {% elif category == 'error' %}
                        <div id="error-msg" class="msg hide-msg"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" 
                                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                                  stroke-linejoin="round" class="lucide lucide-bot-icon lucide-bot"><path d="M12 8V4H8"/>
                                  <rect width="16" height="12" x="4" y="8" rx="2"/><path d="M2 14h2"/><path d="M20 14h2"/>
                                  <path d="M15 13v2"/><path d="M9 13v2"/></svg>  <div class="msg-content">{{ message }}</div></div>
                    {% else %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div id="title">
        <svg width="50" height="50" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_3)">
        <path d="M18.409 18.017C18.8648 16.9604 19.6711 16.0934 20.6919 15.5622C21.7127 15.031 22.8855 14.8682 24.0124 15.1011C25.1393 15.3341 26.1513 15.9487 26.8777 16.8411C27.6042 17.7336 28.0006 18.8493 28 20C28 23.866 24 27 19 27C14.923 27 10.847 26.18 8.629 24.538C8.203 24.222 7.998 23.706 8.009 23.176C8.118 17.723 8.627 7 16 7C16.7957 7 17.5587 7.31607 18.1213 7.87868C18.6839 8.44129 19 9.20435 19 10C19 10.5304 18.7893 11.0391 18.4142 11.4142C18.0391 11.7893 17.5304 12 17 12C15.895 12 15.36 11.556 15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21 19C20.3965 18.5471 19.6983 18.2367 18.9578 18.092C18.2172 17.9473 17.4535 17.9721 16.724 18.1645C15.9944 18.3569 15.3178 18.7119 14.7449 19.203C14.172 19.694 13.7177 20.3084 13.416 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15.964 11.825C14.019 12.977 15.5 18 14 20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18 0.5C27.6923 0.5 35.5 7.91384 35.5 17C35.5 26.0862 27.6923 33.5 18 33.5C8.30771 33.5 0.5 26.0862 0.5 17C0.5 7.91384 8.30771 0.5 18 0.5Z" stroke="#f97316"/>
        <path d="M29.3536 29.6464L43.3536 43.6464" stroke="#f97316"/>
        </g>
        </svg>
        <h1>Muscle<br>Metrics.ai</h1>
    </div>
    <h2>
        <div id="sub-title"></div>
    </h2>
    <!--<h2>Scan. Analyze. Progress.</h2>-->
    
    <div id="submission-container">
        <form action="{{ url_for('scan') }}" id="form-area" method = "post" enctype="multipart/form-data">
            <label for="image-input">
                <input type="file" name="image-submission"id="image-input" accept="image/*" required hidden/>
                <div id="img-submission">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-images-icon lucide-images"><path d="M18 22H4a2 2 0 0 1-2-2V6"/><path d="m22 13-1.296-1.296a2.41 2.41 0 0 0-3.408 0L11 18"/><circle cx="12" cy="8" r="2"/><rect width="16" height="16" x="6" y="2" rx="2"/></svg>
                    <h3>Upload your images</h3>
                    <p>For best results, use a full-body picture in natural lighting.</p>
                    <p>Drag and drop or click to select a photo.</p>
                    <button id="photo-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload-icon lucide-upload"><path d="M12 3v12"/><path d="m17 8-5-5-5 5"/><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/></svg>
                        Choose Photo</button>
                </div>
            </label>
        <p id="disclaimer">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="#10b981" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check-icon lucide-shield-check"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/><path d="m9 12 2 2 4-4"/></svg>
            Photos processed using OpenAI</p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='main.js')}}"></script>
</body>
</html>